### 파이썬의 기본 문법
- 변수 선언, 식별자 , 자료형 , 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [1]:
# 주석 : 앞에 # 을 붙이면 코드로 실행이 안된다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축기 ctrl(cmd) + / 
# 블럭설정 : shift + 방향키

# 1, 2, 3 을 출력하는 코드
print(1)
#print(2)
print(3)

1
3

In [2]:
# 출력 : print 함수
# 코드 중간에 변수 안에 들어있는 값을 확인하고 싶을 때 사용

In [3]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [4]:
#  print 함수의 옵션
# docstring : 함수에 대한 설명 : 단축키(shift + tab)
# 자동완성 : tab

print(1, 2, sep='-',end='\t')
print(3)

1-2	3

In [5]:
python_data_scince = 1

In [6]:
print(python_data_scince)

1

#### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [7]:
a = 1
b = 2
c = a + b
c

3

In [8]:
d, e = 3, 4
f = g = 5

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙 
    - 소문자, 대문자 , 숫자, 언더스코어(_) 를 사용합니다.
    - 가장 앞에 숫자 사용 불가
    - 예약어의 사용 불가 : def, class, try, except ....
    - 컨벤션
        - snake case : fast_campus : 변수 , 함수
        - camel case : Fast_Campus, fastCampus : 클래스

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적 타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int , float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [9]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [10]:
# 기본 데이터 타입 int , float , bool, str
a = 1
b = 1.2
c = True #False
d = "data"

type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [11]:
a + b

2.2

In [12]:
# a + d

In [13]:
# 데이터 타입에 함수 : 문자열
# upper : 대문자로 변환
e = d.upper()

In [14]:
d, e

('data', 'DATA')

In [15]:
f = " Fast campus "

In [16]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [17]:
# strip : 공백제거
f.strip()

'Fast campus'

In [18]:
# replace : 특정문자열 치환
f.replace("Fast", "Slow")

' Slow campus '

In [19]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [20]:
# 오프셋 인덱스 : 마스크, 마스킹[]
# 문자열은 순서가 있는 문자들의 집합

In [21]:
g = "abcdefg"

In [22]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'gfedcba')

In [23]:
numbers = "123456789" # 97531 출력

In [24]:
result = numbers[::2]
result[::-1]

'97531'

In [25]:
numbers[::2][::-1]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고 키 : 값 으로 구성 되어 있는 데이터 타입

In [26]:
# list 
ls = [1, 2, 3, "four", [5,6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [27]:
# offset index 사용이 가능
ls[3],ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [28]:
# list 함수

In [29]:
ls = [1, 5, 2, 4]
ls

[1, 5, 2, 4]

In [30]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [31]:
# sort : 오름차순 정렬 #데이터를 내용물을 변경함. 출력의 역할만 X
ls.sort()
ls[::-1]

[5, 4, 3, 2, 1]

In [32]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(5, [1, 2, 3, 4])

In [33]:
# 리스트의 복사

In [34]:
ls1 = [1, 2, 3]
ls2 = ls1 # 주소값 복사 :얕은 복사
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [35]:
ls1[2] = 5

In [36]:
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [37]:
ls3 = ls1.copy()
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [38]:
ls1[2] = 10

In [39]:
ls1, ls3

([1, 2, 10], [1, 2, 5])

#### Tuple ()
- 리스트와 같지만 수정이 불가능한 데이터 타입
- 튜플은 리스트보다 같은 데이터를 가졌을때 공간을 적게 사용

In [40]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [41]:
a, b = 6, 2 # 튜플 선언
a, b

(6, 2)

In [42]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [43]:
# 리스트와 튜퓰의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

80 64

#### dict {}
- 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [44]:
# 아래 데이터를 list 와 dict 로 선언하기
# 도시 : 서울, 부산 , 대구
# 인구 : 9700000, 3400000, 2400000

In [45]:
#list
city = ["서울", "부산", "대구"]
population = [9700000, 3400000, 2400000]

#dict
data = {
    "서울" : 9700000,
    "부산" : 5200000,
    "대구" : 3400000,
}

In [46]:
population[2], data["대구"]

(2400000, 3400000)

In [47]:
sum(population)

15500000

In [48]:
sum(data.values())

18300000

#### 5. 형변환
- 데이터 타입을 변환하는 방법
- int float, bool, str, list, tuple, dict

In [49]:
a = 1
b = "2"
a + int(b)

3

In [50]:
list(data.values())

[9700000, 5200000, 3400000]

In [60]:
result = list(zip(city, population))
dict(result)

{'서울': 9700000, '부산': 3400000, '대구': 2400000}

In [51]:
# zip : 같은 인덱스 데이터끼리 묶어주는 함수
list(zip(city, population))

[('서울', 9700000), ('부산', 3400000), ('대구', 2400000)]

In [52]:
result = dict(list(zip(city, population)))
result

{'서울': 9700000, '부산': 3400000, '대구': 2400000}

In [53]:
data1 = list(result.keys())
data2 = list(result.values())

data1, data2

(['서울', '부산', '대구'], [9700000, 3400000, 2400000])

#### 6. 연산자
- 산술 연산자 : +, -, *, /, //, %, **
- 할당 연산자 : 변수에 누적시켜서 연산 : +=, //=, **=
- 비교 연산자 : > , <, ==, !=, <=, >=, : 결과로 True , False로 출력
- 논리 연산자 : or, and , not : True, False를 연산
- 멤버 연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in

In [61]:
# 산술 연산
a = 1 
b = 2
a + b

3

In [63]:
1 + 4 / 2 ** 2 # 제곱이 우선순위가 제일 높음

2.0

In [66]:
# 할당 연산
a = 10
a = a + 10
a = a + 10
a+= 10
a

40

In [68]:
# 비교 연산
print(a, b)
a < b, a == b, a != b

40 2

(False, False, True)

In [69]:
# 논리 연산
True and False, True or False, not True or False

(False, True, False)

In [70]:
# 멤버 연산
ls = ["jin", "andy", "jhon"]

In [71]:
"andy" in ls, "anchel" in ls, "jhon" not in ls

(True, False, False)

In [73]:
True or False and "andy" in ls

True

In [88]:
### 랜덤 함수
import random

random.randint(1, 10)

2

In [89]:
# 입력 함수
data = input("insert string: ")
data

insert string: 안녕하세요

'안녕하세요'

In [90]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [91]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index 해당하는 솔루션 리스트의 데이터를 출력

In [94]:
# 솔루션을 리스트로 작성
solutions = [
    "무엇을 하던 잘 안될 것이다.",
    "생각지도 않게 좋은 일이 생길 것이다.", 
    "무엇을 상상하던 그 이상이다.",
]

# 질문 입력받음
input("질문을 입력하세요 : ")

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions)-1)

# index 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요 : 저는 육아지옥을 탈출 할수 있을까요?

'생각지도 않게 좋은 일이 생길 것이다.'