#### summary
- jupyter notebook
    - mode : 명령모드 , 편집모드
    - style : markdown , code
    - 단축키 
        - 실행 : shift + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : crtl + /
        - 셀 생성 : a , b
    - python 기본 문법
        - 변수 선언 : 램 저장 공간에 값을 할당하는 행위
        - 식별자 규칙
            - 대문자, 소문자, 숫자, ...
            - 가장 앞글자 숫자사용불가
            - 예약어 사용이 불가 def, class, try, ...
            - snake_case(변수, 함수), CamelClass(클래스)
            - pep8 문서
    - 데이터 타입
        - 각 데이터 타입별로 함수가 있다.
        - 동적타이핑 : 자동으로 저장공간 데이터 타입 설정
        - 기본 데이터 타입 :int, float, bool, str
        - 컬렉션 데이터 타입 : list(interable), tupel(interable), dict
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable 한 데이터 타입에서만 사용이 가능 = 순서가 있어야만 사용이 가능 strt, list, tuple, ...
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start : end] : start 에서 end 까지 출력 (end는 포함되지 않는다)
            - [start : end : stride] : stride 만큼 점프하여 출력
                
    - 형 변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두개의 리스트를 묶어서 dict 형변환
    - 연산자
         - 산술 : +, -, *, / , //, %, ** 
         - 할당 : A (산술) = (data)
         - 비교 : < , > ,== , != , <= , >=
         - 논리 : and, or, not
         - 멤버 : in , not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [4]:
# 조건부분 : boll 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단

if False :
    print("python")

print("done")

done

In [5]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [9]:
num = 0
if num :
    print("python 1")
num = 1
if num : 
    print("python 2")

python 2

In [11]:
number =  7

if number % 2 :
    print("홀수")

홀수

In [12]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {} 를 제외한 나머지는 True

In [13]:
# 지갑에 돈이 10000 이상 있으면 택시를 탄다.
# 2000원 이상, 10000원 미만 있으면 버스를 탄다.
#그렇지 않으면 걸어서 집에 간다.

In [18]:
money = 12000

if money >= 10000 :
    print("택시를 타고 간다")

if money < 10000 :
    print("걸어서 간다")

택시를 타고 간다

In [25]:
money = 3500

if money >= 10000 :
    print("택시를 타고 간다")
elif money >= 5000:
    print("광역 버스를 타고 집에 간다.")
elif money >= 2000:
    print("일반 버스를 타고 집에 간다.")
else : 
    print("걸어서 간다")

일반 버스를 타고 집에 간다.

In [33]:
# 계좌에 10000원이 들어 있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 적으면 "인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력

In [29]:
data = int(input("insert money : "))
type(data), data

insert money : 5000

(int, 5000)

In [35]:
# 계좌에 10000원이 들어 있습니다.
account = 10000

# 인출 금액을 입력 받습니다.
data = int(input("인출 할 금액을 입력하세요 : "))

# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 적으면 "인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력
if data > account :
    print("인출이 불가능 합니다")
else :
    account -= data
    print("인출 되었습니다.")
account

인출 할 금액을 입력하세요 : 2000
인출 되었습니다.

8000

In [42]:
# string 데이터 타입의 format 함수
print("현재 잔액은 " + str(account) + "원 입니다.")
print("현재 잔액은 {}원 입니다. 인출 금액은 {}입니다.".format(account,data ))
print("현재 잔액은 {data1}원 입니다. 인출 금액은 {data2}입니다.".format(data1=account,data2=data))

현재 잔액은 8000원 입니다.
현재 잔액은 8000원 입니다. 인출 금액은 2000입니다.
현재 잔액은 8000원 입니다. 인출 금액은 2000입니다.

#### 삼항 연산자
- 간단한 if, else 구무능 한줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [44]:
# data 변수에 0이면 "zero" 출력, 아니면 "not zero" 출력
data = 1

if data: 
    print("not zero")
else :
    print("zero")

not zero

In [45]:
data = 1

result = "not zero" if data else "zero"
result

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while , for, break, continue
- list, comprehention

In [46]:
# while
data = 3

while data : # 조건이 Fasle가 될때까지 구문의 코드를 실행
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

In [47]:
# 학생이 국어 : 80점, 영어 : 90점, 수학 100점 while문을 이용해서 총점과 평균을 출력
# 학생의 점수는 list, dict 표현
#len,dict.values(), list.pop()

In [4]:
student_dict = {
    "국어" : 80,
    "영어" : 90,
    "수학" : 100,
}

# while v in student.values() :
#     sum += v
# average = sum/len(student)
# print("총점 : {}, 평균 : {}".format(sum, average))
    
student_points = [80,90,100]

datas = student_points.copy()

total = 0

while datas :
    total += datas.pop()
average = total/len(student_points)
print("총점 : {}, 평균 : {}".format(total, average))

총점 : 270, 평균 : 90.0

In [18]:
datas = student_points.copy() # 깊은 복사 : 원본데이터 보존

In [19]:
# count = leng(datas)
# while count :
#     count -= 1
total = 0
while datas :
    total += datas.pop()
avg = total / len(student_points)
total, avg

(270, 90.0)

In [1]:
# 무한 루프
# break : 반복문을 중단 시킬때 사용되는 예약어

result = 1
while result :
    if result >= 10:
        break
        
    result += 1
        
print(result)

10

### for
- iterable 한 값을 하나씩 꺼내서 value에 대입시킨후 코드를 iterable 변수의 값 갯수 만큼 실행
```
for <variable> in <iterables> :
    <code>
```

In [6]:
# for : continue : 조건 부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3 ,4]
for data in ls :
    if data % 2 : # 데이터가 홀수가 되면 continue 를 실행 
        continue
    # data가 짝수가 되면 print를 실행
    print(data, end=" ")

0 2 4

In [10]:
# for를 이용해서 코드를 100번 실행
# range 함수
list(range(100))
result = 0
for data in range(100):
    result += data
result

4950

In [17]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(10, 0, -2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 8, 6, 4, 2])

In [19]:
# 0 ~ 10 까지 짝수를 더한 총합
result = 0
for number in range(0, 11, 2) :
    result += number
result

30

In [20]:
student_dict = {
    "국어" : 80,
    "영어" : 90,
    "수학" : 100,
}

In [22]:
list(student_dict.items())

[('국어', 80), ('영어', 90), ('수학', 100)]

In [23]:
#for 문에서 iterable 데이터가 tupel로 나오면 여러개의 변수로 받을 수 있다.

for subject, point in student_dict.items() :
    print(subject,point)

국어 80
영어 90
수학 100

In [25]:
# tuple
a, b = (1, 2)
a, b

(1, 2)

- 구구단 출력 (가로 출력)
- hint : 이중 for문
- print : end = "\t"

```
2*1 = 2, 3*1= 3, ... 9*1 = 9
 ...

2*9 = 18 3*9 = 27 ... 9*9 = 81
```

In [59]:
for f in range(1, 10) :
    for i in range(2, 10) :
        print("{}*{}={}".format(i, f, f*i) , end='\t')
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List  Comprehention
- 리스트 데이터를 만들어 주는 방법
- for문 보다 빠르게 동작한다 약 2/3 속도

In [63]:
# 각각 값에 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []

for data in ls :
    result.append(data**2)
result

[0, 1, 4, 9]

In [65]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [69]:
#리스트 컴프리핸션을 써서 홀수와 짝수를 리스트로 출력하는 코드
# 삼항연산 사용
ls = [0, 1, 2, 3]
#result = ["짝수", "홀수","작수", "홀수"]

result = [
    "홀수" if num%2 else "짝수" 
    for num in ls 
]
result

['짝수', '홀수', '짝수', '홀수']

In [75]:
# 리스트 컴프리핸션 조건문
ls = range(10)
[ data for data in ls if data % 2 ] # 트루만 data로 넘어간다.

[1, 3, 5, 7, 9]

In [80]:
# 리스트 컴프리핸션 조건문을 이용해 리스트 데이터 필터링을 할 수 있다.
ls = [1, 2, 3]
# dir(ls)
[ func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

In [81]:
# for 문과 list comprehention 성능 비교

In [91]:
%%timeit #코드 동작 시간 알려줌
ls = []
for num in range(1, 10001) :
    if num % 3 == 0:
        ls.append(num)
len(ls)

921 µs ± 27.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [92]:
%%timeit
ls = [num for num in range(1, 10001) if num % 3 == 0]
len(ls)

790 µs ± 20 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)