### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용 방법 
    - 변수와 함수가 들어있는 클래스 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용한다.

#### 1. 기본 클래스의 사용

In [1]:
# 클래스의 선언
class Calculater :
    
    num1 = 1
    num2 = 2
    
    def plus(self) :
        return self.num1 + self.num2
        
    def minus(self) :
        return self.num1 - self.num2

In [2]:
# 클래스의 사용
calc = Calculater()
calc

In [3]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [4]:
# self의 의미 : 객체 자신
calc2 = Calculater()

In [5]:
calc2.num1 = 10

In [6]:
calc2.plus()

12

### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 설계도 작성(설계도 class) -> 실제 물건(객체 object)
- 사용자 정의 데이터 타입

In [7]:
calc2.plus()

12

In [8]:
obj = "python"
obj.upper()

'PYTHON'

In [9]:
ls = [1, 3, 2]
ls.sort()

In [10]:
ls

[1, 2, 3]

In [11]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될때 실행되는 함수
- 변수(재료)를 추가 할 때 사용된다.

In [12]:
class Calculater :
    # 생성자 함수 : __init__
    def __init__(self, num1, num2=10):
        self.num1 = num1
        self.num2 = num2
        
    def plus(self) :
        return self.num1 + self.num2
        
    def minus(self) :
        return self.num1 - self.num2

In [13]:
calc1 = Calculater(3)

In [14]:
calc1.plus()

13

In [15]:
calc2 = Calculater(3, 5)

In [16]:
calc2.plus()

8

In [17]:
# join

ls = ["python", "is" , "good"]
sep = "-"
sep.join(ls)

'python-is-good'

In [8]:
# pandas dataframe
import pandas as pd
df = pd.DataFrame([
    {"name" : "jin", "age" : 20 },
    {"name" : "andy", "age" : 21 },
])
df

   name  age
0   jin   20
1  andy   21

In [7]:
# join 

ls = ["my", "name", "is", "kim"]
sep = " "
sep.join(ls)

'my name is kim'

In [9]:
df = pd.DataFrame([
    {"name" : "kim" , "age" : 15},
    {"name" : "lee", "age" : 22}
])
df

  name  age
0  kim   15
1  lee   22