## 복습할 내용
### 배운 내용중 완벽하게 숙지 안된것 위주
#### 함수
- 파라미터와 아규먼트
- `*args`, `**kwarg`
- docstring
- scope
- lambda function
- Map, Filter, Reduce,
- Decorlater

### 파라미터와 아규먼트
- 파라미터는 함수를 선언할때 호출하는 부분에서 보내주는 데이터를 받는 변수
- 아규먼트는 선언된 함수를 호출할때 보내주는 데이터

In [1]:
def func(a, b, c=1) : # a, b, c 는 파라미터, c는 defalt parameter라고 한다
    print(a + b + c)

func(1, 2, 3) # 아규먼트

6

### `*args` , `**kwarg`
- 함수를 호출 할 때 아규먼트나 키워드 아규먼트의 갯수를 특정지을 수 없을 때 사용

In [2]:
def plus(*args, **kwargs) :
    print(type(args), args)
    print(type(kwargs), kwargs)
    return sum(args) + sum(kwargs.values())

In [3]:
plus(1, 2, 3, num1=4, num2=5) # *args 는 튜플형태로 들어가고 **kwargs 는 dict 형으로 들어간다.

<class 'tuple'> (1, 2, 3)
<class 'dict'> {'num1': 4, 'num2': 5}

15

In [4]:
def func(num1, num2=10, num3=20) :
    return num1 + num2 + num3

In [5]:
data = [1, 2, 3]
func(*data)

6

In [6]:
data = {
    "num1" : 5,
    "num2" : 5,
    "num3" : 1,
}

func(**data)

11

In [7]:
def t_func(*a, **b) :
    print(type(a), a)
    print(type(b), b)

In [8]:
t_func(1, 2, 3, 4, 5, a=1, b=2, c=3)

<class 'tuple'> (1, 2, 3, 4, 5)
<class 'dict'> {'a': 1, 'b': 2, 'c': 3}

#### Scope
- inner, outer

In [9]:
def outer(a, b) :
    
    def inner(c, d) :
        print(a, b)
        print(c, d)
    
    return inner

outer(1, 2)(3, 4)

1 2
3 4

In [10]:
def outer(a, b) :
    
    def inner(c, d) :
        print(a*3, b*3)
        print(c+1, d+1)
    
    return inner

outer(1, 2)(3, 4)

3 6
4 5

#### callback function 
- 함수를 아규먼트 파라미터로 설정해서 사용

In [11]:
def calc(func, a, b) :
    return func(a, b)

In [12]:
def plus(num1, num2) :
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

In [13]:
calc(plus, 1, 2)

3

In [14]:
calc(minus, 1, 2)

-1

#### lambda function
- 파라미터가 간단한 계산으로 리턴되는 함수 : 삼항연산

In [15]:
def plus(a, b):
    return a + b

In [16]:
plus(3, 5)

8

In [17]:
#람다 사용

mimi = lambda a, b : a * b

In [18]:
mimi(5, 6)

30

In [19]:
# calc(func, 1, 2)
calc(lambda a, b : a * b, 5, 7)

35

### callback + lambda

In [20]:
def calc(func,*args) :
    return func(*args)

In [21]:
def plus(a, b) :
    return a + b

In [22]:
calc(plus, 1, 2)

3

In [23]:
data = [3, 4, 5, 6, 7, 8, 9, 10]
calc(lambda *args : sum(args), *data)

52

### map, filter, reduce

### map
- 순서가 있는 데이터 집합에서 모든 값에 함수를 적용시킨 결과를 출력

In [24]:
data1 = [1, 2, 3, 4, 5]
data2 = (5, 4, 3, 2, 1)

In [25]:
def plus1(num):
    return num + 1

In [26]:
list(map(plus1, data1))

[2, 3, 4, 5, 6]

In [27]:
def odd_func(num) :
    return "odd" if num%2 else "even"

In [28]:
list(map(odd_func,data2))

['odd', 'even', 'odd', 'even', 'odd']

In [29]:
# input 함수로 구분자는 " " 으로 여러개의 숫자를 입력 받습니다.
# str.split(" ") 리스트로 만들고
# 만들어진 리스트의 값들을 int 형변환

In [30]:
data = input("input number : ")
ls = list(data.split(" "))
print(ls)
list(map(int, ls))

input number : 30 25 30
['30', '25', '30']

[30, 25, 30]

### filter
- 리스트 데이터에서 특정 조건에 맞는 value 만 **남기는** 함수

In [31]:
ls = range(10)

In [32]:
# 홀수만 출력
list(filter(lambda data : True if data % 2 else False, ls)) # True가 되는 value 만 남아서 출력

[1, 3, 5, 7, 9]

In [33]:
name = ["andy", "bro", "copy", "atom", "cola", "tami", "zizi", "brandy"]

In [34]:
result = list(filter(lambda data : True if data[0] == "a" or data[0] == "b" else False, name))
result.sort()
result

['andy', 'atom', 'brandy', 'bro']

In [35]:
def c_or_t(string):
    if string[0] == "c" or string[0] == "t" :
        return True
    else :
        return False

In [36]:
list(filter(c_or_t, name))

['copy', 'cola', 'tami']

### reduce
- 리스트 데이터를 처음부터 순서대로 특정함수를 실행하여 결과를 "누적"시켜주는 함수
- from functools import reduce 로 임포트 해야 사용가능

In [37]:
from functools import reduce

In [38]:
reduce(lambda a, b : a + b , ["a", "b", "atiti", "time"]) #함수의 파라미터가 두개여야한다

'abatititime'

#### decorator
- 함수에서 코드를 바꾸지 않고, 기능을 추가하거나 수정하고 싶을 때 사용하는 문법

In [41]:
# a
@disp
def plus(a, b) :
#     print("계산 시작")
#     result = a + b
#     print("결과는 {} 입니다.".format(result))
    return a + b

In [42]:
# b
@disp
def minus(a, b) :
    return a - b

In [40]:
# c
def disp(func) :
    
    def wrapper(*args, **kwargs) :
        print("계산 시작")
        result = func(*args, **kwargs)
        print("결과는 {} 입니다.".format(result))
        return result
    
    return wrapper

In [43]:
minus(1, 2)

계산 시작
결과는 -1 입니다.

-1

In [44]:
minus(1,2)

계산 시작
결과는 -1 입니다.

-1

In [45]:
plus(1, 2)

계산 시작
결과는 3 입니다.

3

In [46]:
# 함수의 실행시간을 출력하는 데코레이터 함수를 작성하세요.

In [47]:
import time

In [48]:
def disp_timer(func):
    
    def wrapper(*args, **kwargs) :
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print("수행에 걸린 시간 : {}".format(end_time-start_time))
        return result
    
    return wrapper

In [49]:
@disp_timer
def test1(num1, num2) :
    result = sum(range(num1, num2))
    return result

In [50]:
@disp_timer
def test2(num1, num2) :
    result = 0
    for num in range(num1, num2+1) :
        result += num
    return result

In [51]:
test1(1,10000000)

수행에 걸린 시간 : 0.30717945098876953

49999995000000

In [52]:
test2(1,10000000)

수행에 걸린 시간 : 0.6033511161804199

50000005000000

In [53]:
# 패스워드를 입력 받아야 함수가 실행되도록 하는 데코레이터 작성

In [54]:
def check_password(func) :
    def wrapper(*args, **kwags) :
        pwd = "kim111"
        input_pwd = input("input password : ")
        if input_pwd == pwd :
            result = func(*args, **kwags)
        else :
            result = "not correct passwrd"
        return result
    return wrapper

In [55]:
import random

@check_password
def lotto_func():
    lotto = []
    while True :
        number = random.randint(1, 45)
        if number not in lotto :
            lotto.append(number)

        if len(lotto) >= 6 :
            lotto.sort()
            break
    return lotto

In [56]:
lotto_func()

input password : kim111

[4, 5, 16, 23, 28, 45]

In [ ]:
lotto_func()